<ion-content >
  <div class="header-auth">
     <img class="logo" src="assets/imgs/tuvueltablanco.png" alt="">
     <h3 text-center class="title">Iniciar Sesión</h3>
  </div>
  <!--<div class="avatar">
      <img class="logo" src="assets/imgs/man.png" alt="">
    </div>-->
  <ion-card class="auth">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label>  <ion-icon name="mail" color="primary"></ion-icon></ion-label>
          <ion-input formControlName="email" clearInput placeholder="Correo Electronico" type="email"></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
          <p class="errormensaje" *ngIf="email.errors.required">
            Campo obligatorio
          </p>
          <p class="errormensaje" *ngIf="email.errors.email">
            Debe ser un correo.
          </p>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon  name="key" *ngIf="!canSeePass" color="primary"></ion-icon>
          </ion-label>
          <ion-input formControlName="password1" placeholder="Contraseña"  clearInput minlength="6" [type]="canSeePass? 'text':'password'"></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
          <p class="errormensaje" *ngIf="password1.errors.required">
            Campo obligatorio
          </p>
        </ion-item>

        <ion-card *ngIf="errorMessage">
          <ion-card-header class="errormensajecard">
            {{ errorMessage }} ...
          </ion-card-header>
        </ion-card>
  
      </form>
    </ion-card-content>
  </ion-card>

  <div padding>
    <div text-center>
        <button color="primary" (click)="login()" [disabled]="!form.valid" ion-button round>Iniciar Sesión!</button>
    </div>
    <div text-center>
        <button color="primary" (click)="openResetPassPage()" clear ion-button round>Olvide Contraseña</button>
    </div>
    <div text-center>
        <button color="primary" (click)="goToSignup()" clear ion-button round>Registrarme</button>
    </div>
    <div text-center>
        <button color="primary" (click)="goToHome()" clear ion-button round>Volver</button>
    </div>
  </div>


</ion-content>
