<ion-content class="background" padding>
    <img class="logo" src="assets/imgs/tuvueltablanco.png">
   
  <div class="scroll-content">
      <p text-center class="title">Inicia sessión con el email que se registro</p>
      <form [formGroup]="form">
        <ion-item>
          <ion-label>  <ion-icon name="mail" color="primary"></ion-icon></ion-label>
          <ion-input formControlName="email" clearInput placeholder="Correo Electrónico" type="email"></ion-input>
        </ion-item>
        <ion-item class="labelerror" *ngIf="email.invalid && (email.dirty || email.touched)">
          <p class="labelerror" *ngIf="email.errors.required">Campo obligatorio</p>
          <p class="labelerror" *ngIf="email.errors.email">Debe ser un correo.</p>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon  name="key" *ngIf="!canSeePass" color="primary"></ion-icon>
          </ion-label>
          <ion-input formControlName="password1" placeholder="Contraseña"  clearInput minlength="6" [type]="canSeePass? 'text':'password'"></ion-input>
        </ion-item>
        <ion-item class="labelerror" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
          <p class="labelerror" *ngIf="password1.errors.required">Campo obligatorio</p>
          <br/>
        </ion-item>

        <div text-center>
            <button color="orange" (click)="login()" [disabled]="!form.valid" ion-button full>Iniciar Sesión!</button>
        </div>

        <div class="divtoolbar">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                  <button color="white" (click)="openResetPassPage()"   ion-button full outline >¿Olvide Contraseña?</button>
              </ion-col>
            </ion-row>
            <!--<ion-row>
              <ion-col>
                  <button color="orange" (click)="goToHome()"  ion-button icon-start icon-ios-arrow-back-outline >
                      <ion-icon name="ios-arrow-back-outline"></ion-icon>
                      Volver</button>
              </ion-col>
            </ion-row>-->
          </ion-grid>

          <ion-col col-12>
              <button color="orange" (click)="goToSignup()"   ion-button full   >Registrarme</button>
          </ion-col>
          
        </div>
      </form>
      <ion-card *ngIf="errorMessage"  >
          <ion-card-header class="boxerror">
            {{ errorMessage }}
          </ion-card-header>
        </ion-card>
    </div>


</ion-content>
