<ion-header>
    <ion-navbar color="primary">
      <ion-title>Iniciar Sesión</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="background" padding>
  <div padding text-center ion-fixed>
      <img class="logo" src="assets/imgs/tuvueltablanco.png">
      <p text-center class="titulo">Inicia sessión con el email que se registro</p>
      <form [formGroup]="form">
        <ion-item>
          <ion-label>  <ion-icon name="person" color="white"></ion-icon></ion-label>
          <ion-input formControlName="email" clearInput placeholder="Correo Electrónico" type="email"></ion-input>
        </ion-item>
        <ion-item class="labelerror" *ngIf="email.invalid && (email.dirty || email.touched)">
          <p class="labelerror" *ngIf="email.errors.required">Campo obligatorio</p>
          <p class="labelerror" *ngIf="email.errors.email">Debe ser un correo.</p>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon  name="lock" *ngIf="!canSeePass" color="white"></ion-icon>
          </ion-label>
          <ion-input formControlName="password1" placeholder="Contraseña"  clearInput minlength="6" [type]="canSeePass? 'text':'password'"></ion-input>
        </ion-item>
        <ion-item class="labelerror" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
          <p class="labelerror" *ngIf="password1.errors.required">Campo obligatorio</p>
          <br/>
        </ion-item>

        <p text-center class="terminos">Al iniciar sesión asegura haber leído y estar de acuerdo con los
            <a class="link" href="#">términos y condiciones</a>
          </p>
        <div text-center>
            <button color="accent" (click)="login()" [disabled]="!form.valid" ion-button full block large >Iniciar Sesión!</button>
        </div>

        <div class="divtoolbar">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                  <button color="white" (click)="openResetPassPage()"   ion-button full clear >¿Olvide Contraseña?</button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-col col-12>
              <button color="accent" (click)="goToSignup()"   ion-button full   >Registrarme</button>
          </ion-col>

        </div>
      </form>
      <ion-card *ngIf="errorMessage"  >
          <ion-card-header class="boxerror">
            {{ errorMessage }}
          </ion-card-header>
        </ion-card>
    </div>


</ion-content>
