page-usuario-bloqueado {

    .backuser{
        background: #56CCF2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-family: 'Questrial', sans-serif;
        text-shadow: 2px 2px rgb(3, 157, 247);
     }

     .myimagenlock {
         
        img{
            height: 30vh;
            width: auto;
            margin: auto;
            display: block;
            margin-left:30%;
            margin-top: 40%;
          }
        }
}
