<ion-header>

  <ion-navbar  color="primary">
    <ion-title text-center>domicilios-activos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="domiciliosProvider.pendingSolicitud && isActive">
    <ion-item-divider>
        Domicilios
    </ion-item-divider>
    <span *ngFor="let row of domiciliosProvider.pendingSolicitud">
      <ion-item  *ngIf="row.visibility > row.distanceFromMe">
      
      
        <span item-start>
          $ {{ row.payload.val().GananciaMensajero}}
        </span>

        <p *ngIf="domiciliosProvider.Mensajeros && domiciliosProvider.Mensajeros[row.payload.val().user_id]">
          Cliente: {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Nombres }} {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Apellidos }}
        </p>
        <p>
          <ion-icon name="md-more"></ion-icon><span>{{ row.payload.val().puntoInicio}}</span>
        </p>
        <p>
          <ion-icon name="md-pin"></ion-icon> <span>{{ row.payload.val().puntoFinal}}</span>
        </p>
        <p>
          <ion-icon name="arrow-round-up"></ion-icon>
          <ion-icon *ngIf="row.payload.val().esPagoConTarjeta == true" name="arrow-round-down"></ion-icon>
          <span margin-right>{{ row.key | date:'shortTime'}}</span>
        </p>
        <p *ngIf="row.payload.val().BonoRelanzamiento">
          Bonificación: $ {{ row.payload.val().BonoRelanzamiento | number }}
        </p>
        <p *ngIf="row.payload.val().ValorDomicilio">
          $ {{ row.payload.val().ValorDomicilio | number }}
        </p>
        <button (click)="loadConfirm(row)" *ngIf="domiciliosProvider.inProccessSolicitud && domiciliosProvider.inProccessSolicitud.length < 2" ion-button color="primary" item-end>
          Comprar
        </button>
      
      
    </ion-item>
    </span>
    

    <div class="no-solicitudes-pendientes" text-center *ngIf="domiciliosProvider.pendingSolicitud.length == 0">
      <img src="assets/imgs/surprised.png" width="20%"/>
      <br/>
      <br/>
      No hay Solicitudes Pendientes
    </div>
  </ion-list>

  <div *ngIf="!isActive" class="no-active-message" text-center>
      <img src="assets/imgs/surprised-face.png" width="20%"/>
      <br/>
      <br/>
    Debes estar activo para poder ver los servicios pendientes
  </div>
  
</ion-content>
