page-domicilios-activos {
  p{
    ion-icon{
      width: 12px
    }
  }
  
  .grid {
    padding: 0px !important;
  }

  .borderDomicilios{
    border-left: 5px solid;
    border-left-color:#f9d400;
  }

  .pricenter{
    margin-top: 15vh;
  }

}
