<ion-header>
  <ion-navbar  color="primary">
    <ion-title text-center>domicilios-activos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="domiciliosProvider.pendingSolicitud && (authProvider.userState == 'Activo')">
      <ion-toolbar >
          <ion-searchbar></ion-searchbar>
      </ion-toolbar>
      <ion-grid *ngFor="let row of domiciliosProvider.pendingSolicitud">
        <ion-row>
          <ion-col col-4 text-center style="margin-top:15%">
              {{ row.payload.val().GananciaMensajero | currency:"$":0}}
          </ion-col>
          <ion-col col-8>
              <p *ngIf="domiciliosProvider.Mensajeros && domiciliosProvider.Mensajeros[row.payload.val().user_id]">
                  Cliente: {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Nombres }} {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Apellidos }}
              </p>
              <p>
                <ion-icon name="md-pin" color="secondary"></ion-icon><span>{{ row.payload.val().puntoInicio}}</span>
              </p>
              <p>
                <ion-icon name="md-pin" color="primary"></ion-icon> <span>{{ row.payload.val().puntoFinal}}</span>
              </p>
              <p>
                <ion-icon name="arrow-round-up" color="danger"></ion-icon>
                <ion-icon *ngIf="row.payload.val().esPagoConTarjeta == true" name="arrow-round-down" color="orange"></ion-icon>
                <span margin-right>{{ row.key | date:'shortTime'}}</span>
              </p>
              <p *ngIf="row.payload.val().BonoRelanzamiento">
                Bonificación: $ {{ row.payload.val().BonoRelanzamiento | number }}
              </p>
              <p *ngIf="row.payload.val().ValorDomicilio">
                $ {{ row.payload.val().ValorDomicilio | number }}
              </p>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ng-container *ngIf="domiciliosProvider.globalConfig && domiciliosProvider.inProccessSolicitud" item-end>
                    <button  ion-button full block color="orange"  (click)="loadConfirm(row)" *ngIf="domiciliosProvider.inProccessSolicitud.length < domiciliosProvider.globalConfig.CantSrvcQuePuedeComprarMensajero">
                      Comprar
                    </button>
                  </ng-container>
            </ion-col>
        </ion-row>
      </ion-grid>
      
    <div class="no-solicitudes-pendientes" text-center *ngIf="domiciliosProvider.pendingSolicitud.length == 0">
      <img src="assets/imgs/tuvuelta.png" width="40%"/>
      <br/>
      <br/>
      No hay Solicitudes Pendientes
    </div>
  </ion-list>

  <div *ngIf="authProvider.userState == 'Inactivo'" class="no-active-message" text-center>
      <img src="assets/imgs/tuvuelta.png" width="40%"/>
      <br/>
      <br/>
    Debes estar activo para poder ver los servicios pendientes
  </div>
  
</ion-content>
