page-domicilios-activos {
  p{
    ion-icon{
      width: 12px
    }
  }

  .back{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .back-orange{
    background: color($colors, orange)
  }
 
 
}


body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  
  .blue {
    color : white;
    background-color : blue;
  }
  
  .red {
    color : black;
    background-color : red;
  }
  
  .green {
    color : white;
    background-color : green;
  }
  
  .pink {
    color : white;
    background-color : pink;
  }
  
  .yellow {
    color : black;
    background-color : yellow;
  }
  
  .orange {
    color : white;
    background-color : orange;
  }