page-domicilios-activos {
  p{
    ion-icon{
      width: 12px
    }
  }
}


body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  
  .blue {
    color : white;
    background-color : blue;
  }
  
  .red {
    color : black;
    background-color : red;
  }
  
  .green {
    color : white;
    background-color : green;
  }
  
  .pink {
    color : white;
    background-color : pink;
  }
  
  .yellow {
    color : black;
    background-color : yellow;
  }
  
  .orange {
    color : white;
    background-color : orange;
  }