<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title text-center >TuVuelta Partner</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--Signup-->
  <div *ngIf="!hasAccount">
    <ion-card>
      <ion-card-header text-center>
        Registro
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label floating>Correo Electronico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">
              Campo obligatorio
            </p>
            <p *ngIf="email.errors.email">
              El campo debe ser un correo. Ej: usuario@email.com
            </p>
          </ion-item>

          <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="password1" minlength="6" type="password"></ion-input>
          </ion-item>
          <ion-item class="error" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
            <p *ngIf="password1.errors.required">
              Campo obligatorio
            </p>

            <p *ngIf="password1.errors.minlength">
              Debe contener más de 6 caracteres
            </p>
          </ion-item>

          <ion-item>
            <ion-label floating>Confirme contraseña</ion-label>
            <ion-input formControlName="password2" type="password"></ion-input>
            <ion-item class="error" *ngIf="password2.invalid && (password2.dirty || password2.touched)">
              <p *ngIf="password2.errors.required">
                Campo obligatorio
              </p>
            </ion-item>
          </ion-item>

          <ion-item class="error" *ngIf="(password1.dirty || password1.touched) && (password2.dirty || password2.touched) && (password1.value != password2.value)">
            <p>
              Las contraseñas no coinciden
            </p>
          </ion-item>

          <div padding>
            <button (click)="signup()" color="orange" [disabled]="!(form.valid && (password1.value == password2.value))" ion-button block>Registrarme!</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!--Login-->
  <div *ngIf="hasAccount">
    <ion-card>
      <ion-card-header text-center>
        Inicio de sesión
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label floating>Correo Electronico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">
              Campo obligatorio
            </p>
            <p *ngIf="email.errors.email">
              Debe ser un correo.
            </p>
          </ion-item>

          <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="password1" minlength="6" type="password"></ion-input>
          </ion-item>
          <ion-item class="error" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
            <p *ngIf="password1.errors.required">
              Campo obligatorio
            </p>
          </ion-item>

          <div padding>
            <button color="orange" (click)="login()" [disabled]="!form.valid" ion-button block>Iniciar Sesión!</button>
            <button color="orange" (click)="openResetPassPage()" clear ion-button block>Olvide Contraseña</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <button ion-button  color="light" *ngIf="!hasAccount" block (click)="buildFormLogin(); hasAccount = !hasAccount">
    Ya tengo una cuenta
  </button>

  <ion-card *ngIf="errorMessage">
    <ion-card-header>
      {{ errorMessage }}
    </ion-card-header>
  </ion-card>
  <button ion-button color="light" block (click)="buildFormSignup(); hasAccount = !hasAccount" *ngIf="hasAccount">Registrarme Ahora</button>

  
</ion-content>
