page-auth {
    .logo{
        
        min-height: 8em;
        height: 40vh;
        margin: 3em 0;
        width: 90vw;
    }
    .signup-button{
        border: solid;
        border-width: 1px;
    }

}
