<!--
  Generated template for the SolicitudInProcessDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>SolicitudInProcessDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="solicitudDetails">
    <div><h4><strong>Punto de inicio: </strong></h4>{{ solicitudDetails.payload.val().puntoInicio }}</div>
    <div><h4><strong>Punto de Finalización: </strong></h4>{{ solicitudDetails.payload.val().puntoFinal }}</div>
    <div><h4><strong>Nombres: </strong></h4>{{ solicitudDetails.payload.val().Nombres }}</div>
    <div><h4><strong>Apellidos: </strong></h4>{{ solicitudDetails.payload.val().Apellidos }}</div>
    <div><h4><strong>Celular: </strong></h4>{{ solicitudDetails.payload.val().Celular }}</div>
    <div><h4><strong>DistanciaTotal: </strong></h4>{{ solicitudDetails.payload.val().DistanciaTotal / 1000 }} Km</div>
    <div><h4><strong>Estado: </strong></h4>{{ solicitudDetails.payload.val().Estado  }}</div>
    <button block ion-button color="orange" (click)="changeStateToEnSitio()" *ngIf="solicitudDetails.payload.val().Estado == 'En Proceso'">En Sitio</button>
    <button block ion-button color="orange" (click)="changeStateToDespachado()" *ngIf="solicitudDetails.payload.val().Estado == 'En Sitio'">Despachado</button>
    <button block ion-button color="orange" (click)="changeStateToFinalizado()" *ngIf="solicitudDetails.payload.val().Estado == 'Despachado'">Finalizar</button>

  </div>

<button block ion-button color="light" (click)="goBack()">Volver</button>
</ion-content>
