<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="header-auth">
    <img src="assets/imgs/tuvueltablanco.png" alt="">
    <h3>Restablecer Contraseña</h3>
  </div>
  <ion-card class="auth">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label><ion-icon name="mail"></ion-icon></ion-label>
          <ion-input formControlName="email" placeholder="Correo Electronico" type="email"></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
          <p *ngIf="email.errors.required">
            Campo obligatorio
          </p>
          <p *ngIf="email.errors.email">
            El campo debe ser un correo. Ej: usuario@email.com
          </p>
        </ion-item>

        <div text-center margin-top>
          <button color="orange" (click)="onSubmit()" [disabled]="!form.valid" ion-button round>Enviar Correo!</button>
        </div>
        <div text-center>
            <button color="orange" (click)="goToBack()" clear ion-button round>Volver</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="submitMessage">
    <ion-card-header class="message">
      {{ submitMessage }}
    </ion-card-header>
  </ion-card>
</ion-content>
