page-reset-password {
    ion-card{
        ion-card-header.message{
            background: #94bb6f;
        }
    }

    .title{
        font-family: 'Questrial', sans-serif;
        font-size: 20px;
        
    }
}
