page-reset-password {
    ion-card{
        ion-card-header.message{
            background: #94bb6f;
        }
    }

    .title{
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
    }

    .titulo{
        margin-top: 7vh;
        color: #fff;
    }


    .logo{
        width: 40%;
        margin-top: 12vh;
        margin-left: 30%;
    }

    .title{
        font-family: 'Questrial', sans-serif;
        font-size: 20px;

    }

    .background{
        background-color: #33CCFF;
    }

    .labelerror{
        text-align: center;
        color: #b80d0d;
    }

    .boxerror{
        text-align: center;
        background: #b80d0d;
        color: #fff;
        text-align: center;
    }


}
