<ion-content class="background" padding>
    <img class="logo" src="assets/imgs/tuvueltablanco.png" alt="">
    <div class="scroll-content">
      <p text-center class="title">Restablecer Contraseña</p>
      <form [formGroup]="form">
          <ion-item>
              <ion-label><ion-icon name="mail" color="primary"></ion-icon></ion-label>
              <ion-input formControlName="email" placeholder="Correo Electronico" type="email"></ion-input>
            </ion-item>
            <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
              <p class="labelerror" *ngIf="email.errors.required">
                Campo obligatorio
              </p>
              <p class="labelerror" *ngIf="email.errors.email">
                El campo debe ser un correo. Ej: usuario@email.com
              </p>
            </ion-item>
    
            <div text-center margin-top>
              <button color="orange" (click)="onSubmit()" [disabled]="!form.valid" ion-button block>Enviar Correo !</button>
            </div>
            <div text-center margin-top>
                <button color="white" (click)="goToBack()" ion-button block>Volver</button>
            </div>
      </form>
    </div>
</ion-content>

  
