<ion-header>
    <ion-navbar color="primary">
      <ion-title>Restablecer Contraseña</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="background" padding>
    <div padding ion-fixed>
    <img class="logo" src="assets/imgs/tuvueltablanco.png" alt="">
      <p text-center class="titulo">Restablecer Contraseña</p>
      <form [formGroup]="form">
          <ion-item>
              <ion-label><ion-icon name="mail" color="white"></ion-icon></ion-label>
              <ion-input formControlName="email" placeholder="Correo Electronico" type="email"></ion-input>
            </ion-item>
            <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
              <p class="labelerror" *ngIf="email.errors.required">
                Campo obligatorio
              </p>
              <p class="labelerror" *ngIf="email.errors.email">
                El campo debe ser un correo. Ej: usuario@email.com
              </p>
            </ion-item>

            <div text-center margin-top>
              <button color="accent" (click)="onSubmit()" [disabled]="!form.valid" ion-button block full>Enviar Correo !</button>
            </div>
      </form>
    </div>
</ion-content>


