page-domicilios-disponibles {
  p{
    ion-icon{
      width: 12px
    }
  }

  .grid {
    padding: 0px !important;
  }

  .ion-app.md [padding] .scroll-content {
    padding: 0px!important;
  }

  .borderDomicilios{
    border-left: 5px solid;
    border-left-color:#6ad802;
  }

  .pricenter{
    margin-top: 10vh;
  }



}
