<ion-header>
  <ion-navbar>
    <ion-title text-center>domicilios-disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="domiciliosProvider.inProccessSolicitud && isActive">
    <ion-grid *ngFor="let row of domiciliosProvider.inProccessSolicitud">
      <ion-row >
        <ion-col col-4  text-center class="borderDomicilios"  >
            <p class="pricenter"> ${{ row.payload.val().GananciaMensajero | number:0}}</p>
        </ion-col>
        <ion-col col-8>
            <p *ngIf="domiciliosProvider.Mensajeros && domiciliosProvider.Mensajeros[row.payload.val().user_id]">
              Cliente: {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Nombres }} {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Apellidos }}
            </p>
            <p>
              <ion-icon name="md-pin" color="secondary"></ion-icon><span>{{ row.payload.val().puntoInicio}}</span>
            </p>
            <p>
              <ion-icon name="md-pin" color="orange"></ion-icon> <span>{{ row.payload.val().puntoFinal}}</span>
            </p>
            <p>
              <ion-icon name="arrow-round-up" color="danger"></ion-icon>
              <ion-icon *ngIf="row.payload.val().esPagoConTarjeta == true" name="arrow-round-down" color="orange"></ion-icon>
              <span margin-right>{{ row.key | date:'short'}}</span>
            </p>
            <p *ngIf="row.payload.val().ValorDomicilio">
              $ {{ row.payload.val().ValorDomicilio }}
            </p>
            <p *ngIf="row.payload.val().BonoRelanzamiento">
              Bonificación: $ {{ (row.payload.val().BonoRelanzamiento ) | number }}
              Total: $ {{ (row.payload.val().BonoRelanzamiento + row.payload.val().GananciaMensajero) | number }}
            </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
            <button ion-button full block color="primary" (click)="relaunch(row)" *ngIf="row.payload.val().fechaCompra && ((row.payload.val().fechaCompra + 30000) > currentTime ) && row.payload.val().Estado == 'EnProceso' ">
                Relanzar {{ (((row.payload.val().fechaCompra + 30000) - currentTime) / 1000) | number:'2.0-0' }}
             </button>
        </ion-col>
        <ion-col col-6>
            <button ion-button full block color="orange" block (click)="openScheduleDetails(row.key)"  >
                Ver
              </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="no-solicitudes-pendientes" text-center *ngIf="domiciliosProvider.inProccessSolicitud.length == 0">
        <img src="assets/imgs/tuvuelta.png" width="40%"/>
        <br/>
        <br/>
        No Hay Solicitudes En Proceso
      </div>
  </ion-list>
  <div *ngIf="!isActive" class="no-active-message" text-center>
      <img src="assets/imgs/tuvuelta.png" width="40%"/>
      <br/>
      <br/>
      Debes estar activo para poder ver los servicios pendientes
  </div>
</ion-content>
