page-domicilios-disponibles {
    p{
        ion-icon{
          width: 20px;
          height: 120px;
        }
      }



      .domiciliosColor{
        border-left: 5px solid rgb(250, 233, 3);
      }

      .textoCenter{
        vertical-align: middle;
        display: table;
        margin-top: 5vh;
        margin-left: 1vw;
      }

}
