<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>TuVuelta Partner</ion-title>
    </ion-navbar>
</ion-header>
      

<ion-content>

  <ion-list *ngFor="let row of domiciliosProvider.inProccessSolicitud" >
        <ion-item-divider color="orange">
                Domicilios
        </ion-item-divider>
      <ion-grid  >
          <ion-row justify-content-start>
            <ion-col col-3 class="domiciliosColor" tex-center>
                 <p class="textoCenter" >$ {{ row.payload.val().GananciaMensajero}}</p>
            </ion-col>
            <ion-col col-9>
                <p *ngIf="domiciliosProvider.Mensajeros && domiciliosProvider.Mensajeros[row.payload.val().user_id]">
                    Cliente: {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Nombres }} {{ domiciliosProvider.Mensajeros[row.payload.val().user_id].Apellidos }}
                </p>
                <div>
                    <ion-icon name="md-pin" color="secondary"></ion-icon>
                    <span class="text-center">{{ row.payload.val().puntoInicio}}</span>
                </div>
                <div>
                    <ion-icon name="md-pin" color="primary"></ion-icon> 
                    <span>{{ row.payload.val().puntoFinal}}</span>
                </div>
                <div>
                    <ion-icon name="arrow-round-up" color="primary"></ion-icon>
                    <ion-icon *ngIf="row.payload.val().esPagoConTarjeta == true" name="arrow-round-down" color="primary"></ion-icon>
                    <span margin-right>{{ row.key | date:'short'}}</span>
                </div>
                <div>
                    <span *ngIf="row.payload.val().ValorDomicilio">
                        $ {{ row.payload.val().ValorDomicilio }}
                      </span>
                </div>
                <div *ngIf="row.payload.val().BonoRelanzamiento">
                  <span>
                    Bonificación: $ {{ (row.payload.val().BonoRelanzamiento ) | number }}
                    Total: $ {{ (row.payload.val().BonoRelanzamiento + row.payload.val().GananciaMensajero) | number }}
                  </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-6>
                <button (click)="relaunch(row)" *ngIf="row.payload.val().fechaCompra && ((row.payload.val().fechaCompra + 30000) > currentTime ) && row.payload.val().Estado == 'EnProceso' " ion-button full color="yellow" item-end>
                     Relanzar {{ (((row.payload.val().fechaCompra + 30000) - currentTime) / 1000) | number:'2.0-0' }}
                </button>
              </ion-col>
              <ion-col col-6>
                  <button (click)="openScheduleDetails(row.key)" ion-button full>
                    Ver
                 </button>
              </ion-col>
          </ion-row>
      </ion-grid>
    
      <div class="no-solicitudes-pendientes" text-center *ngIf="domiciliosProvider.inProccessSolicitud.length == 0">
            <img src="assets/imgs/surprised.png" width="20%"/>
            <br/>
            <br/>
            No Hay Solicitudes En Proceso
          </div>

  </ion-list>


  <div *ngIf="!isActive" class="no-active-message" text-center>
      <img src="assets/imgs/surprised-face.png" width="20%"/>
      <br/>
      <br/>
    Debes estar activo para poder ver los servicios pendientes
  </div>
</ion-content>
