page-signup {
    .title{
        font-family: 'Questrial', sans-serif;
        color: #fff;
    }

    .boxBack{
        background: #33CCFF;
    }

    .logo{
        width: 40%;
        margin-top: 6vh;
    }

    .labelerror{
        text-align: center;
        color: #b80d0d;
    }

    .boxerror{
        text-align: center;
        background: #b80d0d;
        color: #fff;
        text-align: center;
    }

    .divtoolbar {
      margin-top: 10vh;
    }

}
