<ion-header>
    <ion-navbar color="primary">
      <ion-title>Registro de Mensajero</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="boxBack" padding >
    <div padding ion-fixed text-center>
    <img class="logo" src="assets/imgs/tuvueltablanco.png">
      <p text-center class="title">Registro de Mensajero</p>
    <form [formGroup]="form">
      <ion-item>
        <ion-label><ion-icon name="mail" color="white"></ion-icon></ion-label>
        <ion-input clearInput placeholder="Correo Electrónico" formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="email.invalid && (email.dirty || email.touched)">
        <p class="labelerror" *ngIf="email.errors.required">Campo obligatorio</p>
        <p class="labelerror" *ngIf="email.errors.email">El campo debe ser un correo. Ej: usuario@email.com</p>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="lock" color="white"></ion-icon></ion-label>
        <ion-input clearInput placeholder="Contraseña" formControlName="password1" minlength="6" type="password"></ion-input>
      </ion-item>
      <ion-item  *ngIf="password1.invalid && (password1.dirty || password1.touched)">
        <p class="labelerror" *ngIf="password1.errors.required">Campo obligatorio</p>
        <p class="labelerror" *ngIf="password1.errors.minlength">Debe contener más de 6 caracteres</p>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="lock" color="white"></ion-icon></ion-label>
        <ion-input clearInput placeholder="Confirmar contraseña" formControlName="password2" type="password"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="password2.invalid && (password2.dirty || password2.touched)">
        <p  class="labelerror" *ngIf="password2.errors.required">Campo obligatorio</p>
      </ion-item>
      <ion-item class="error" *ngIf="(password1.dirty || password1.touched) && (password2.dirty || password2.touched) && (password1.value != password2.value)">
        <p class="labelerror">Las contraseñas no coinciden</p>
      </ion-item>
      <div text-center margin-top>
        <button (click)="signup()" color="orange" [disabled]="!(form.valid && (password1.value == password2.value))" ion-button block>Registrarme!</button>
      </div>

      <div class="divtoolbar">
          <div text-center>
              <button color="white" (click)="goToLogin()"  clear ion-button block full>Ya tengo una cuenta</button>
            </div>
      </div>
    </form>
  </div>

  <ion-card *ngIf="errorMessage">
      <ion-card-header class="boxerror">
        {{ errorMessage }}
      </ion-card-header>
    </ion-card>
</ion-content>
