

<ion-content>
  <div class="header-auth">
    <img src="assets/imgs/tuvueltablanco.png" alt="">
    <h3 text-center class="title">Registro de Mensajero</h3>
  </div>
  <ion-card class="auth">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label><ion-icon name="mail" color="primary"></ion-icon></ion-label>
          <ion-input clearInput placeholder="Correo Electronico" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
          <p *ngIf="email.errors.required">
            Campo obligatorio
          </p>
          <p *ngIf="email.errors.email">
            El campo debe ser un correo. Ej: usuario@email.com
          </p>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="key" color="primary"></ion-icon></ion-label>
          <ion-input clearInput placeholder="Contraseña" formControlName="password1" minlength="6" type="password"></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
          <p *ngIf="password1.errors.required">
            Campo obligatorio
          </p>
          <p *ngIf="password1.errors.minlength">
            Debe contener más de 6 caracteres
          </p>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="key" color="primary"></ion-icon></ion-label>
          <ion-input clearInput placeholder="Confirme contraseña" formControlName="password2" type="password"></ion-input>
          <ion-item class="error" *ngIf="password2.invalid && (password2.dirty || password2.touched)">
            <p *ngIf="password2.errors.required">
              Campo obligatorio
            </p>
          </ion-item>
        </ion-item>

        <ion-item class="error" *ngIf="(password1.dirty || password1.touched) && (password2.dirty || password2.touched) && (password1.value != password2.value)">
          <p>
            Las contraseñas no coinciden
          </p>
        </ion-item>

        <div text-center margin-top>
          <button (click)="signup()" color="primary" [disabled]="!(form.valid && (password1.value == password2.value))" ion-button round>Registrarme!</button>
        </div>
        <div text-center>
            <button color="primary" (click)="goToLogin()" clear ion-button round>Ya tengo una cuenta</button>
        </div>
        <div text-center>
            <button color="primary" (click)="goToHome()" clear ion-button round>Volver</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="errorMessage">
    <ion-card-header>
      {{ errorMessage }}
    </ion-card-header>
  </ion-card>
</ion-content>
